/* Mobile and tablet */
@media (max-width: 1023px) {
    :root {
        --header-height: 68px;
        --navbar-height: 0px;
    }

    .hide-on-mobile-tablet {
        display: none;
    }

    .header__sort-bar {
        display: flex;
    }
    .container {
        margin-top: calc(var(--header-height) + var(--header-sort-bar-hieght));
    }

    .container__content {
        padding-top: 8px;
    }
    
    .mobile-category__list {
        display: flex;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }

    .header__cart {
        width: 80px;
        text-align: right;
    }
    
}

/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }

    .header__cart-list {
        position: fixed;
        right: 0;
        top: var(--header-height);
        width: 100%;
    }

    .header__cart-list::before {
        display: none;
    }

    .header__bars {
        display: block;
        padding: 0 4px;
        margin-right: 16px;
    }
    .header__cart,
    .header__logo {
        width: unset;
    }   

    .header__cart {
        margin-right: 10px;
    }

    .header__mobile-search {
        display: block;
        padding: 0 4px;
    }

    .header__search {
        position: fixed;
        top: var(--header-height);
        right: 0;
        left: 0;
        z-index: 1;
        height: 45.2px;
        display: none;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
        padding: 0 6px;
        animation: mobileSearchSideIn linear .3s;
    }
    
    @keyframes mobileSearchSideIn {
        from {
            top: calc(var(--header-height) / 2);
            opacity: 0;
        }

        to {
            top: var(--header-height);
            opacity: 1;
        }
    }

    .mobile-sreach-input:checked ~ .header__search {
        display: flex;
    }
    
    .header__search-history {
        left: 0;
        width: 100%;
        box-shadow: 0 1px  2px rgba(0, 0, 0, .05);
    }

    .pagination-item__link {
        --height: 28px;
        font-size: 1.6rem;
        min-width: 36px;
    }

    .pagination-item {
        margin: 0;
    }
    
    .header__logo-img {
        width: 110px;
    }

    .footer__content {
        padding: 0 4px;
    }
    
    .container__content {
        margin: 0;
    }

    .home-product-item__sale-off-percent {
        padding-top: 4px;
        line-height: 10px;
    }

    .home-product-item__sale-off-label {
            font-size: 1.2rem;
    }

}
